*{
    margin: 0;
    padding: 0;
    
    font-family: "Inter", sans-serif;
    text-decoration: none;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.common-btn{
    background-color: #2563EB;
    border-radius: 10px;
    color: #fff;
    padding: 10px 28px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.common-btn:hover{
    background-color: #181f36;
    transform: translatex(3px);
    box-shadow: 20px 10px 20px rgba(7, 78, 231, 0.3);
    color: #2563EB;
}
.common-btn:active{
    transform: translate3d();
}
/* nav-section start */
nav{
    display: flex;
    justify-content: space-between;
    gap: 30px; 
    align-items: center;
    padding: 18px 8%;
    background-color: #ffffff;
    margin: auto;
}
nav img{
    padding: 0px 15px;
    height: 50px;
    width: auto;
    margin-left: 30px;
}
nav ul{
    list-style-type: none;
    display: flex;
    gap: 25px;
}
 nav ul a{
    color: #575757;
    font-family: "Arimo", sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    transition: color 0.3s ease;
 }
nav ul a::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -5px;
    width: 0px;
    height: 3px;
    background-color: #2563EB;
    transition: width 0.3s ease;
}
nav ul a:hover{
    color: #2563EB;
}
nav ul a:hover::after{
    width: 100%;
}
nav button{
    margin-right: 30px;
}
/* nav-section end */

/* header section start */
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(../images/banner.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    justify-content: center;
    align-items: center;
}
.header-content{
    color: #fff;
    text-align: center;
    padding: 0px 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 0px; 
}
.header-content h1{
    font-size: 80px;
    font-weight: 800;
    margin: 0px;

}
.header-content p{
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    max-width: 700px;
    margin: 0px;
    margin-bottom: 295px;
} 


.header-content button{
    font-size: 24px;
    padding: 15px 30px;
}
/* header section end */

/* speaker section start */
.speaker-parent{
    padding: 100px 0;
    text-align: center;
}
.speaker-parent h2{
    color: #000102;
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 60px;
}
.speaker-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.speaker-card{
    border: 1px solid #E5E7EB;
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.3s ease;
}
.speaker-card:hover{
    transform:translateY(-10px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.speaker-card img{
    width: 100%;
    transition: transform 0.3s ease;
}
.speaker-card:hover img{
    transform: scale(1.05);
}
.speaker-info{
    padding: 20px 20px;
    text-align: left;
}
.speaker-info .p1{
    color: #2563EB;
    font-weight: 600;
    font-size: 12px;
}
.speaker-info h4{
    font-size: 20px;
    color: #0D1B2A;
    font-weight: bold;
    padding: 15px 0;
    transition: color 0.3 ease;
}
.speaker-info:hover h4{
    color: #2563EB;
}
.speaker-info .p2{
    color: #575757;
    font-weight: 400;
    font-size: 14px;
}

/* speaker section end */

/* price section start */
.price-parent{
    padding: 80px 0;
    text-align: center;
}
.price-parent h2{
    font-size: 48px;
    color: #0D1B2A;
    font-weight: bold;
}
.price-parent .price-subtitle{
    font-size: 16px;
    font-weight: 400;
    color: #575757;
    padding: 15px 0;
}
.price-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 40px;
    gap: 30px;
}
.price-card{
    border: 1px solid #E5E7EB;
    border-radius: 15px;
    text-align: left;
    padding: 40px 40px;  
    transition: all 0.3s ease;  
}
.price-card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.price-card .price-p1{
    font-size: 13px;
    font-weight: 600;
    color: #888888;
}
.price-card h3{
    font-size: 44px;
    font-weight: bold;
    color: #0D1B2A;
    padding: 10px 0;
    transition: color 0.3s ease, transform 0.3s ease;
}
.price-card:hover h3{
    color: #2563EB;
    transform: scale(1.05);
}
.price-card .price-p2{
    font-size: 13px;
    font-weight: 400;
    color: #888888;
}
.price-top{
    border-bottom: 1px solid #E5E7EB;
    padding-bottom: 25px;
}
.price-card ul{
    list-style-type: disc;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 25px;
    padding-left: 20px;
}
.price-card ul li{
    padding: 5px 0;
    color: #333333;
    font-size: 14px;
    font-weight: 400;
}
li::marker {
  color: #2563EB; 
}
.price-card button{
    width: 100%;
    background-color: #fefeff;
    border: 1px solid #2563EB;
    color: #2563EB;
}
.pro-card{
    background-color: #0D1B2A;
}
.pro-card .price-p1{
    color: #93C5FD;
}
.pro-card h3{
    color: #ffffff;
}
.pro-card ul li{
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    padding: 5px 0;
}
.pro-card button{
    background-color: #2563EB;
    color: #ffffff;
}
/* price section end */